@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-outfit: "outfit", sans‑serif;
  --font-inter: "Inter", sans‑serif;
}

.swiper {
  --swiper-pagination-color: #2181c2;

  --swiper-pagination-left: auto;
  --swiper-pagination-right: auto;
  --swiper-pagination-top: auto;
  --swiper-pagination-bottom: 10px;

  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-border-radius: 50%;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-horizontal-gap: 6px;
  --swiper-pagination-bullet-vertical-gap: 6px;

  --swiper-pagination-fraction-color: #2181c2;
  --swiper-pagination-fraction-size: 14px;

  --swiper-pagination-progressbar-size: 4px;

  --swiper-navigation-color: #2181c2;
  --swiper-navigation-size: 36px;

  /* Positioning */
  --swiper-navigation-sides-offset: -5px;
  --swiper-navigation-top-offset: 50%;

  --swiper-scrollbar-size: 4px;
  --swiper-scrollbar-color: rgba(0, 0, 0, 0.25);
  --swiper-scrollbar-border-radius: 10px;

  --swiper-autoplay-progressbar-size: 36px;
  --swiper-autoplay-progressbar-color: #2181c2;
  --swiper-autoplay-progressbar-background-color: rgba(0, 0, 0, 0.2);

  --swiper-slide-transition-duration: 300ms;
  --swiper-slide-opacity: 1;
  --swiper-slide-scale: 1;

  --swiper-fade-opacity: 0;

  --swiper-coverflow-rotate: 50deg;
  --swiper-coverflow-stretch: 0px;
  --swiper-coverflow-depth: 100px;
  --swiper-coverflow-modifier: 1;
  --swiper-coverflow-slide-shadows: 1;

  --swiper-cube-shadow: 1;
  --swiper-cube-shadow-offset: 20px;
  --swiper-cube-shadow-scale: 0.94;

  --swiper-cards-offset: 8px;
  --swiper-cards-rotate: 2deg;
  --swiper-cards-per-slide-offset: 8px;
  --swiper-cards-per-slide-rotate: 2deg;

  --swiper-grid-columns: 1;
  --swiper-grid-rows: 1;

  --swiper-thumbs-border-width: 2px;
  --swiper-thumbs-border-color: #2181c2;
  --swiper-thumbs-opacity: 0.35;

  --swiper-theme-color: #2181c2;
  --swiper-theme-background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: var(--font-outfit);
}
body {
  font-family: var(--font-inter);
}

.primary-color {
  color: #2181c2;
}

.secondary-color {
  color: #db3029;
}

.tertiary-color {
  color: #7d797a;
}

.primary-border {
  border-color: #2181c2;
}

.forBgBanner {
  background: url(../../public/images/banner-bg.png) no-repeat left bottom/
    cover;
  position: relative;
  inset: 0;
  padding-bottom: 120px;
}

.primary-gradient {
  background: linear-gradient(90deg, #2181c2 0, #db3029);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient {
  background-image: linear-gradient(
    270deg,
    rgb(33, 129, 194),
    rgb(219, 48, 41)
  );
}

.btn-gradient {
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, #2181c2, #db3029);
  color: #fff;
  padding: 8px 12px;
  border-radius: 9999px;
  width: fit-content;
  cursor: pointer;
  border: none;
  transition: transform 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 120%;
    height: 100%;
    background: linear-gradient(
      190deg,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0.15) 100%
    );
    transition: left 0.6s ease;
  }

  &:hover {
    &::after {
      left: 150%;
      transition: left 0.6s ease;
      transform: scale(1.05);
    }
  }

  &:active {
    transform: scale(0.95);
  }
}

.forBorderSeperator {
  position: relative;
  width: 300px;
  height: 3px;
  margin-top: 30px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(20, 20, 20, 0.527);
  &::before {
    content: "";
    background-color: #536c99;
    border-radius: 50px;
    width: 70px;
    height: 6px;
    position: absolute;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.forServicesCard {
  position: relative;
  z-index: 1;
  &::before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-image: linear-gradient(
      270deg,
      rgb(33, 129, 194),
      rgb(219, 48, 41)
    );

    transition: -webkit-transform 0.4s ease;
    border-radius: 1rem;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
  }
  &:hover {
    .forServiceImg {
      h3 {
        color: #ffffff !important;
        position: relative;
        z-index: 9;
      }
      img {
        position: relative;
        z-index: 9;
        filter: brightness(0) invert(1);
      }
    }
    p {
      position: relative;
      color: #f2f2f2 !important;
      z-index: 9;
    }
    .forButtonGetInTouch {
      background: #db3029 !important;
    }
    &::before {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      transform: scale(1, 1);
      -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
      transform-origin: left center;
    }
  }
  .forButtonGetInTouch {
    background: linear-gradient(90deg, #2181c2 0, #db3029);
    width: fit-content;
    border-radius: 9999px;
    padding: 8px 12px;
    color: #fff;
    margin: 10px auto 0px;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0px;
    cursor: pointer;
  }
  p {
    min-height: 120px;
  }
}

.our-services-swiper .swiper-pagination {
  display: none !important;
}

@media (max-width: 767px) {
  .our-services-swiper .swiper-pagination {
    display: flex !important;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
  }
}

.our-services-swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #e2e8f0;
  border-radius: 50%;
  opacity: 0.7;
  transition: all 0.4s ease;
}

.our-services-swiper .swiper-pagination-bullet-active {
  background: #4f46e5;
  opacity: 1;
  transform: scale(1.4);
}

@media (max-width: 1024px) {
  .forBgBanner {
    padding-bottom: 50px;
  }
  .forServicesCard p {
    min-height: 72px;
  }
}

.forAboutSection {
  position: relative;
  .about-one_pattern-two {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 287px;
    height: 391px;
    background-repeat: no-repeat;
    background-image: url("../../public/images/pattern-3.png");
  }
  .about-one_pattern {
    position: absolute;
    right: -200px;
    top: -100px;
    width: 542px;
    z-index: 1;
    height: 663px;
    background-repeat: no-repeat;
    background-image: url("../../public/images/pattern-2.png");
  }
}

.forBrandSection {
  .brandDiv > .card:nth-of-type(2n) {
    display: block;
    position: relative;
    top: 120px;
    margin-bottom: 100px !important;
  }
  .brandDiv > .card {
    &:hover {
      .shaped-card {
        background-color: #fbe8e8 !important;
      }
    }
  }
}

.forFooterBg {
  position: relative;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  padding: 60px 0px 30px;
  color: #fff;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #00000085;
    height: 100%;
    width: 100%;
  }
  .footer-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .footer-content {
    position: relative;
    z-index: 2;
  }
}

.forFaqBg {
  background: url(../../public/images/banner-bg2.png) no-repeat left bottom /
    cover;
  position: relative;
  inset: 0;
  padding: 150px 0px;
}

.forFaqBg .accordion-item {
  border-color: #cecece;
}

.accordion-item[data-state="open"] .accordion-trigger-primary {
  color: #db3029;
}
.accordion-trigger-primary {
  cursor: pointer;
}

.steps-one_pattern-layer {
  position: absolute;
  inset: -30px -30px -30px -30px;
  z-index: 0;
  pointer-events: none;
}

.steps-one_image {
  position: relative;
  text-align: right;
}

.forCardTestimonials {
  background-image: repeating-linear-gradient(
      188deg,
      hsla(171, 0%, 87%, 0.12) 0px,
      hsla(171, 0%, 87%, 0.12) 2px,
      transparent 2px,
      transparent 5px,
      hsla(171, 0%, 87%, 0.12) 5px,
      hsla(171, 0%, 87%, 0.12) 7px,
      transparent 7px,
      transparent 9px,
      hsla(171, 0%, 87%, 0.12) 9px,
      hsla(171, 0%, 87%, 0.12) 11px
    ),
    repeating-linear-gradient(
      162deg,
      hsla(171, 0%, 87%, 0.12) 0px,
      hsla(171, 0%, 87%, 0.12) 2px,
      transparent 2px,
      transparent 5px,
      hsla(171, 0%, 87%, 0.12) 5px,
      hsla(171, 0%, 87%, 0.12) 7px,
      transparent 7px,
      transparent 14px,
      hsla(171, 0%, 87%, 0.12) 14px,
      hsla(171, 0%, 87%, 0.12) 16px
    ),
    repeating-linear-gradient(
      0deg,
      rgb(251, 232, 232) 0px,
      rgb(251, 232, 232) 0px,
      transparent 0px,
      transparent 1px,
      rgb(251, 232, 232) 1px,
      rgb(251, 232, 232) 4px,
      transparent 4px,
      transparent 5px,
      rgb(251, 232, 232) 5px,
      rgb(251, 232, 232) 8px
    ),
    repeating-linear-gradient(
      90deg,
      rgb(251, 232, 232) 0px,
      rgb(251, 232, 232) 0px,
      transparent 0px,
      transparent 1px,
      rgb(251, 232, 232) 1px,
      rgb(251, 232, 232) 4px,
      transparent 4px,
      transparent 5px,
      rgb(251, 232, 232) 5px,
      rgb(251, 232, 232) 8px
    ),
    linear-gradient(90deg, rgb(251, 251, 251), rgb(251, 251, 251));
  margin-bottom: 40px;
}
